/* Custom CSS Sample
 *
 * Change color and fonts here.
 *
 * Beware that properties cannot be unitless, so for example write '--gap-body: 0px;' instead of just '--gap-body: 0;'
 */

/* Uncomment and adjust accordingly if you want to import another font from the google-fonts-api: */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700&display=swap'); */

:root {
  --color-text: #999;
  --color-text-dimmed: #666;
  --color-text-bright: #fff;
  --color-background: black;

  --font-primary: "Roboto Condensed";
  --font-secondary: "Roboto";

  --font-size: 20px;
  --font-size-small: 0.75rem;

  --gap-body-top: 40px;
  --gap-body-right: 40px;
  --gap-body-bottom: 40px;
  --gap-body-left: 40px;

  --gap-modules: 30px;
}

body, *, :before, :after {
 transition-property: none !important;
 transition: 0 !important;
 animation: none !important;
 animation-duration: 0 !important;
 }

.hidden {
  display: none;
}

.region.middle.center {
  top: 75%;
}

.region.lower.third {
  top: 82%;
}

.region.fullscreen.below {
  background-size: cover;
}

.region.fullscreen.above {
  background-color: black;
  opacity: 0;
}

.orange {
  color: orange;
}

.orangered {
  color: orangered;
}

.gold {
  color: gold;
}

.mooncolor {
  color: Moccasin;
}

.blue {
  color: skyblue;
}

.green {
  color: lime;
}

header {
  width: 100%;
  font-size: 1rem;
  line-height: 1.2;
  border-bottom: 1px solid darkred;
}

.xmedium {
  font-size: 1.2rem;
  line-height: 1.5;
}

.slarge {
  font-size: 2rem;
  line-height: 1.2;
}

.xxlarge {
  font-size: 6rem !important;
  line-height: 1;
  background: -webkit-linear-gradient(white, darkgray);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.date {
  text-transform: capitalize;
}

.noheader header {
  display: none !important;
}

.onecall, .weather,
.calendar {
  max-width: 420px;
}

.weather tr.colored .min-temp {
  color: skyblue;
}

.weather tr.colored .max-temp {
  color: orangered;
}

.clock {
  min-width: 420px;
}

.calendar .symbol {
  font-size: 1.2rem;
}

@font-face {
  font-family: "Swatch It";
  src: url("../fonts/swatch.ttf");
  font-display: swap;
}

.swatch {
  font-family: "Swatch It";
  font-size: 2.5rem;
  letter-spacing: 3px;
}

.module.swatch {
    margin-top: -30px !important;
    margin-bottom: 15px !important;
}

.monthly .month {
    text-align: center;
}

.calendar .title {
    text-align: left;
}

.ns-box, .ns-alert {
  background-color: rgb(0 0 0 / 50%) !important;
  z-index: 999;
  zoom: 1.25;
  display: table;
  max-width: 100%;
  border-width: 1px;
  border-radius: 5px;
  width: 40%;
  border-color: var(--color-text-dimmed);
  color: var(--color-text);
  position: relative !important;
  top: 0;
  z-index: 9999 !important;
}

.alert-blur {
  filter: blur(2px) brightness(50%);
}

@media (max-height: 1280px) {
  body {
    transform: rotate(90deg);
    transform-origin: bottom right;
    position: absolute;
    bottom: 0;
    right: 96%;
    height: 121vw;
    width: 118vh;
  }

  .region.middle.center {
    top: 82%;
  }
  
  .quotes,
  .multimonth .month:nth-child(n+2),
  .calendar table tr:nth-child(n+10),
  .onecall .daily .item:nth-child(n+4) {
    display: none;
  }
}
